.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: #efefef;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 2;

    .Logo {
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin-left: 100px;

        /* justify-content: space-evenly; */
        // width: 20%;
        .logo {
            font-size: 40px;
        }

        .doc-logo {
            padding: 0 15px 0 15px;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: rgb(58, 56, 56);
        }
    }

    .search {
        // width: 60%;
        display: flex;
        justify-content: center;


    }

    .search input {
        width: 650px;
        padding: 3px;
        height: 7vh;
        border-radius: 10px;
    }

    @media screen and (max-width: 700px) {
        .Logo{
            margin-left: 30px;
            .logo {
                font-size: 40px;
            }
    
            .doc-logo {
                font-size: 30px;
            }
        }
    }
}