.recentDoc{
    margin-right: 50px;
    background-color: #efefef;
    margin-bottom: 30px;
    cursor: pointer;
    img{
        height: 200px;
        width: 150px;
        object-fit: cover;
    }
    .title{
        padding: 2px 6px;
        font-size: 15px;
        font-weight: bold;
    }
    .recDocDetails{
        display: flex;
        // justify-content: space-around;
        padding: 2px 5px;
        font-size: 15px;
    }
    @media screen and (max-width: 700px) {
        margin-right: 5px;
    }
}