.user-nav {
    display: flex;

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        background-color: #454545;
        color: white;
        font-size: 20px;
        margin-right: 120px;

        @media screen and (max-width: 700px) {
            margin-right: 50px;
            font-size: 15px;
        }
    }

    .user-details {
        display: flex;
        align-items: center;

        .user-name {
            font-size: 20px;
        }

        .user-logo {
            margin:0 40px 0 20px;
            img {
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}